{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Challenge Transfer</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div role="tabpanel" class="tab-pane config-section" id="transfer-chall">
                <ul class="nav nav-tabs mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#export-chall" aria-controls="export-chall" role="tab"
                            data-toggle="tab">Export</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#import-chall" aria-controls="import-chall" role="tab"
                            data-toggle="tab">Import</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="export-chall">
                        <div class="form-group">
                            <p>Exports are an archive of all your current challenges.
                                They can be modified and/or re-imported into other CTFd instances
                                to make the initial setup less tedious.</p>
                            <p>To download an export click the button below.</p>
                        </div>

                        <div class="form-group">
                            <a href="{{ request.script_root }}/admin/yaml" id="export-chall-button"
                                class="btn btn-warning">Export</a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="import-chall">
                        <div class="form-group">
                            <p>You can import challenges from a YAML file! </p>
                            <p>Please upload the YAML specification of challenges (called <i>challenges.yaml</i>)
                                together with all the required files compressed in a <i>gzip</i> or <i>bz2</i> archive.
                            </p>
                        </div>

                        <form id="import-form" action="{{ request.script_root }}/admin/yaml" method="POST"
                            enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="container-files">Import File</label>
                                <input class="form-control-file" type="file" name="file" id="tarfile">
                            </div>

                            <input type="hidden" name="nonce" value="{{ nonce }}">
                        </form>
                        <input id="import-chall-button" type="submit" class="btn btn-warning" value="Import">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $("#import-chall-button").click(function (e) {
        var form = $("#import-form")[0];
        var formData = new FormData(form);

        $.ajax({
            url: script_root + '/admin/yaml',
            data: formData,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                form.reset();
                alert('success')
            },
            error: function (resp) {
                alert('error')
            }
        });
    });
</script>
{% endblock %}
